@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}
body a,
* a {
  text-decoration: none;
}

.full-page {
  background: #c2d7e6;
  display: flex;
}
.full-page .sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20% !important;
}
.full-page .sidebar .upper-sec .logo-wrapper {
  padding: 20px 0px 0px 15px;
}
.full-page .sidebar .upper-sec .logo-wrapper .i-wrapper {
  width: 100%;
  height: 100%;
}
.full-page .sidebar .upper-sec .logo-wrapper .i-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.full-page .sidebar .upper-sec .user-info {
  padding: 20px 0 20px 15px;
}
.full-page .sidebar .upper-sec .user-info .profile .dp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9f4576;
  overflow: hidden;
}
.full-page .sidebar .upper-sec .user-info .profile .dp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-page .sidebar .upper-sec .user-info .profile .information {
  margin-left: 15px;
  color: #09253a;
}
.full-page .sidebar .upper-sec .user-info .profile .information .username {
  font-size: 16px;
}
.full-page .sidebar .upper-sec .user-info .profile .information .address {
  font-size: 12px;
}
.full-page .sidebar .upper-sec .nav-item .text {
  font-size: 18px;
}
.full-page .sidebar .bottom-sec {
  padding-bottom: 30px;
}
.full-page .nav-item.active {
  background: #fff;
}
.full-page .nav-item.active .icon .static-icon {
  display: none;
}
.full-page .nav-item.active .icon .hovered-icon {
  display: block;
}
.full-page .nav-item.active .text {
  color: #9f4576;
}
.full-page .nav-item.active::after, .full-page .nav-item.active::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 20px;
  height: 30px;
  border-radius: 0 0 15px 0;
  z-index: 1;
}
.full-page .nav-item.active::after {
  box-shadow: 0 15px 0 0 #ffffff;
}
.full-page .nav-item.active::before {
  top: auto;
  bottom: -30px;
  border-radius: 0 15px 0 0;
  box-shadow: 0 -15px 0 0 #fff;
}
.full-page .nav-item {
  padding: 10px 0px 10px 15px;
  position: relative;
  border-radius: 25px 0 0 25px;
}
.full-page .nav-item .icon {
  width: 50px;
  position: relative;
}
.full-page .nav-item .icon .static-icon,
.full-page .nav-item .icon .hovered-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
}
.full-page .nav-item .icon .hovered-icon {
  display: none;
}
.full-page .nav-item .text {
  color: #09253a;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 15px;
}
.full-page .nav-item:hover {
  background: #d5e2ec;
}
.full-page .nav-item::after, .full-page .nav-item::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 20px;
  height: 30px;
  border-radius: 0 0 15px 0;
  z-index: 1;
}
.full-page .nav-item::before {
  top: auto;
  bottom: -30px;
  border-radius: 0 15px 0 0;
}
.full-page .nav-item:hover::after {
  display: none;
  box-shadow: 0 15px 0 0 #d5e2ec;
}
.full-page .nav-item:hover::before {
  display: none;
  box-shadow: 0 -15px 0 0 #d5e2ec;
}
.full-page .nav-item:active {
  background: #fff;
}
.full-page .nav-item:active .icon .static-icon {
  display: none;
}
.full-page .nav-item:active .icon .hovered-icon {
  display: block;
}
.full-page .nav-item:active .text {
  color: #9f4576;
}
.full-page .nav-item::after, .full-page .nav-item::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 20px;
  height: 30px;
  border-radius: 0 0 15px 0;
  z-index: 1;
}
.full-page .nav-item::before {
  top: auto;
  bottom: -30px;
  border-radius: 0 15px 0 0;
}
.full-page .nav-item:active::after {
  display: block;
  box-shadow: 0 15px 0 0 #ffffff;
}
.full-page .nav-item:active::before {
  display: block;
  box-shadow: 0 -15px 0 0 #fff;
}
.full-page .main {
  margin: 70px 20px 40px 0;
  width: 80%;
  height: 100%;
  background: #fff;
  padding: 40px 30px;
  border-radius: 30px;
}
.full-page .main .lside {
  color: #09253a;
}
.full-page .main .lside h3 {
  font-size: 32px;
  margin: 0;
}
.full-page .main .lside button.btn {
  border-radius: 15px;
  border: 2px solid #c2d7e6;
  background-color: #c2d7e6;
}
.full-page .main .lside button.btn img {
  scale: 1.2;
}
.full-page .main .lside button.btn:active {
  border: 2px solid #4e6d85;
}
.full-page .main .rside input#searchBox {
  width: 30vw;
  border: 2px solid #c2d7e6;
  padding: 5px 15px;
  border-radius: 15px;
}
.full-page .main .rside input#searchBox:focus {
  outline: none;
  border: 2px solid #4e6d85;
}
.full-page .main .rside input#searchBox::-moz-placeholder {
  color: #c2d7e6;
}
.full-page .main .rside input#searchBox::placeholder {
  color: #c2d7e6;
}
.full-page .main .rside button.btn {
  border-radius: 15px;
  border: 2px solid #c2d7e6;
  background-color: #c2d7e6;
}
.full-page .main .rside button.btn:active {
  border: 2px solid #4e6d85;
}
.full-page .main .sec-head {
  padding: 10px 0;
  border-bottom: 2px solid #c2d7e6;
}
.full-page .main .tg {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.full-page .main .tg td {
  font-size: 14px;
  overflow: hidden;
  padding: 15px 5px;
  word-break: normal;
}
.full-page .main .even {
  box-shadow: inset 0 0 6px -5px #000;
  background: #f2f9ff;
}
.full-page .main .tg th {
  text-align: center;
  font-weight: normal;
  overflow: hidden;
  padding: 20px 5px;
  word-break: normal;
}
.full-page .main .tg th h5 {
  font-weight: 600;
  color: rgba(9, 37, 58, 0.7);
  font-size: 22px;
  margin: 0;
}
.full-page .main .tg .tg-0lax {
  text-align: left;
  color: rgba(31, 31, 31, 0.5607843137);
  position: relative;
}
.full-page .main .tg .tg-0lax .checkbox {
  padding: 0 10px;
}
.full-page .main .tg .tg-0lax .checkbox input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-page .main .tg .tg-0lax .checkbox input:checked {
  accent-color: #9f4576;
}
.full-page .main .tg .tg-0lax h6 {
  margin: 0;
}
.full-page .main .tg .tg-0lax .clientName h6 {
  font-size: 20px;
}
.full-page .main .tg .tg-0lax .clientLocation h6 {
  font-size: 16px;
}
.full-page .main .tg .tg-0lax .edit-btn svg:hover path,
.full-page .main .tg .tg-0lax .dlt-btn svg:hover path {
  fill: #09253a;
}

.sec-head .btn:hover svg path {
  fill: #09253a;
}

.sec-data {
  padding: 30px;
}
.sec-data .content-box {
  padding: 40px;
  width: 80%;
  margin: 0 auto;
  color: #09253a;
  background-color: #f2f9ff;
  border-radius: 25px;
  box-shadow: 1px 1px 5px -3px #000;
}
.sec-data .content-box p {
  font-size: 14px;
  margin: 0;
  opacity: 0.7;
}
.sec-data .content-box h3.clientName {
  font-size: 22px;
  opacity: 0.9;
  margin: 0;
}
.sec-data .content-box .edit-btn {
  width: 22px;
}
.sec-data .content-box .edit-btn svg:hover path {
  fill: #09253a;
}
.sec-data .content-box .divider-line {
  margin: 20px 0;
  border: 1px solid #d5e2ec;
}
.sec-data .content-box h5 {
  font-size: 20px;
  opacity: 0.9;
  margin: 0;
}

.data-add {
  padding: 30px;
}
.data-add .content-box {
  padding: 40px;
  width: 80%;
  margin: 0 auto;
  color: #09253a;
  background-color: #f2f9ff;
  border-radius: 25px;
  box-shadow: 1px 1px 5px -3px #000;
}
.data-add .content-box button.btn {
  border-radius: 15px;
  border: 2px solid #c2d7e6;
  background-color: #4e6d85;
  color: #d5e2ec;
}
.data-add .content-box button.btn:active {
  border: 2px solid #4e6d85;
}
.data-add .content-box p {
  margin: 10px 0;
  font-size: 18px;
}

/* Small Devices------------------Tablets */
@media only screen and (max-width: 767px) {
  .full-page .sidebar {
    display: none !important;
  }
  .full-page .main {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 40px 0;
    border-radius: 0px;
  }
  .full-page .main .rside input#searchBox {
    width: 200px;
    border: 2px solid #c2d7e6;
    padding: 5px 15px;
    border-radius: 15px;
  }
  .full-page .main .rside input#searchBox:focus {
    outline: none;
    border: 2px solid #4e6d85;
  }
  .full-page .main .rside input#searchBox::-moz-placeholder {
    color: #c2d7e6;
  }
  .full-page .main .rside input#searchBox::placeholder {
    color: #c2d7e6;
  }
  .full-page .main .sec-head {
    padding: 10px 10px;
  }
  .full-page .main .sec-head .lside h3 {
    font-size: 26px;
    margin: 0;
  }
  .sec-data {
    padding: 30px;
  }
  .sec-data .content-box {
    padding: 20px;
    width: 100%;
  }
  .sec-data .content-box p {
    font-size: 14px;
    margin: 0;
    opacity: 0.7;
  }
  .sec-data .content-box h3.clientName {
    font-size: 18px;
    opacity: 0.9;
    margin: 0;
  }
  .sec-data .content-box .edit-btn {
    width: 22px;
  }
  .sec-data .content-box .edit-btn svg:hover path {
    fill: #09253a;
  }
  .sec-data .content-box .divider-line {
    margin: 20px 0;
    border: 1px solid #d5e2ec;
  }
  .sec-data .content-box h5 {
    font-size: 16px;
    opacity: 0.9;
    margin: 0;
  }
  .data-add {
    padding: 30px;
  }
  .data-add .content-box {
    padding: 16px;
    width: 100%;
  }
  .data-add .content-box p {
    margin: 10px 0;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */